@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
@using ProjectFinal.Models
@model Product

<div class="add" style="margin-left:30%">
    <form action="/Home/DoEdit">
        <div class="form-group">
            <label>Product Name: </label>
            <input style="width:50%" name="newProduct.Id" value="@Model.Id" type="text" readonly class="form-control" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label>Product Name: </label>
            <input style="width:50%" name="newProduct.ProductName" value="@Model.ProductName" type="text" class="form-control" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label>Image: </label>
            <input style="width:50%" name="newProduct.Image" value="@Model.Image" type="text" class="form-control" placeholder="Enter image">
        </div>
        <div class="form-group">
            <label>Quantity: </label>
            <input style="width:50%" name="newProduct.Quantity" value="@Model.Quantity" type="number" class="form-control" placeholder="Enter quantity">
        </div>
        <div class="form-group">
            <label>Price: </label>
            <input style="width:50%" name="newProduct.Price" value="@Model.Price" type="number" class="form-control" placeholder="Enter price">
        </div>
        <label>Category: </label>
        <select name="newProduct.IdCategory">
            @foreach (Category i in ViewBag.Cate)
            {
                <option value="@i.Id">
                    @*@(i.Id==Model.IdCategory?"selected":"")>*@
                    @i.CategoryName
                </option>
            }
        </select>
        <div class="form-group">
            <label>Description: </label>
            <input style="width:50%" name="newProduct.Description" value="@Model.Description" type="text" class="form-control" placeholder="Enter description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
