@*@model List<ProjectFinal.Models.Product>*@
@model IEnumerable<ProjectFinal.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}



<div id="content" class="wrapper" style="margin-top: 20px; margin-left: 400px">
    @foreach (Product p in Model)
    {
        <div class="item">
            <img class="lazy" src="@p.Image" alt="" />
            <div>
                <a href="#"><i style="font-size:40px" class="fa">&#xf08a;</i></a>
                <a href="#"><i style="font-size:40px" class="fa">&#xf06e;</i></a>
                <a href="/Home/Detail/@p.Id"><i class="text">@p.ProductName</i></a>
            </div>
        </div>
    }
</div>



<!-- Paging -->
<div style="margin-left: 650px;">
    <nav aria-label="...">
        <ul class="pagination">
            @{
                int numberPage = (int)ViewBag.numberPageSearch;
                int pageCurrent = ViewBag.pageCurrentSearch;

                if (pageCurrent > 1)
                {
                    int prePage = pageCurrent - 1;
                    <li class="active" style="background-color: cornflowerblue"><a class="page-link" href="?page=@prePage">Previous</a></li>

                }

                int i;
                for (i = 1; i <= numberPage; i++)
                {
                    if (i == pageCurrent)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="?page=@i">@i<span class="sr-only">(current)</span></a>
                        </li>
                        @*<li class="active" style="background-color: cornflowerblue"><a class="page-link" href="?page=@i">@i</a></li>*@
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>
                    }
                }

                if (pageCurrent >= 1 && pageCurrent < numberPage)
                {
                    int nextPage = pageCurrent + 1;
                    <li class="active" style="background-color: cornflowerblue"><a class="page-link" href="?page=@nextPage">Next</a></li>

                }
            }
        </ul>
    </nav>
</div>